In [2]:
import os
os.chdir('C:/Users/myhyu/OneDrive/Desktop/2024 미래에셋/InvestmentPropensity')

In [3]:
# 라이브러리 
import requests
import pandas as pd
import io
import time
import requests
from bs4 import BeautifulSoup
import numpy as np

In [4]:
def get_ev_ebitda(stock_code):
    # URL 설정
    url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Invest.asp?pGB=1&gicode=A{stock_code}&cID=&MenuYn=Y&ReportGB=&NewMenuID=105&stkGb=701'

    # HTTP 요청 및 페이지 내용 가져오기
    response = requests.get(url)
    response.raise_for_status()  # 요청 실패 시 예외 발생

    # BeautifulSoup을 사용하여 HTML 파싱
    soup = BeautifulSoup(response.text, 'html.parser')

    # 포함하는 행
    table = soup.find_all('tr', {'class': 'c_grid1_14 rwf acd_dep2_sub'})
    
    # 추출
    try:
        ev_value = table[0].find('td', {'class': 'cle r tdbg_y'}).text
        ev = pd.to_numeric(ev_value.replace(',', ''), errors='coerce')
    except (IndexError, AttributeError):
        ev = pd.NA

    try:
        ebitda_value = table[1].find('td', {'class': 'cle r tdbg_y'}).text
        ebitda = pd.to_numeric(ebitda_value.replace(',', ''), errors='coerce')
    except (IndexError, AttributeError):
        ebitda = pd.NA

    if pd.notna(ev) and pd.notna(ebitda) and ebitda != 0:
        ev_ebitda = ev / ebitda
    else:
        ev_ebitda = pd.NA

    # 데이터프레임 생성
    data = {
        '기업코드': [stock_code],
        'EV': [ev],
        'EBITDA': [ebitda],
        'EV/EBITDA' : [ev_ebitda]
    }
    df = pd.DataFrame(data)
    return df

In [5]:
# 저장된 종목코드 불러오기
code_data = pd.read_csv('code.csv')
code_data = code_data[['종목코드']]
code_data

        종목코드
0     095570
1     006840
2     027410
3     282330
4     138930
...      ...
2691  024060
2692  010240
2693  189980
2694  037440
2695  238490

[2696 rows x 1 columns]

In [6]:
# 재무제표 크롤링
for idx, firm_code in enumerate(code_data['종목코드']):
    print(idx + 1, '/', len(code_data['종목코드']))
    try:
        # 종목별 재무제표 크롤링
        try:
            sub_finance_table = get_ev_ebitda(firm_code)
        except requests.exceptions.Timeout:
            time.sleep(60)
            sub_finance_table = get_ev_ebitda(firm_code)

        # 종목별 재무제표 정리
        for num, col in enumerate(sub_finance_table.columns):
            temp = pd.DataFrame({firm_code: sub_finance_table[col]}).T
            temp.columns = [[col] * len(sub_finance_table), temp.columns]
            if num == 0:
                temp_arranged = temp
            else:
                temp_arranged = pd.merge(temp_arranged, temp, how='outer', left_index=True, right_index=True)

        # 재무제표 통합        
        if idx == 0:
            finance_table = temp_arranged
        else:
            finance_table = pd.concat([finance_table, temp_arranged])
    except (ValueError, KeyError):
        continue

1 / 2696
2 / 2696
3 / 2696
4 / 2696
5 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

6 / 2696
7 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

8 / 2696
9 / 2696
10 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

11 / 2696
12 / 2696
13 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

14 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

15 / 2696
16 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

17 / 2696
18 / 2696
19 / 2696
20 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

21 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

22 / 2696
23 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

24 / 2696
25 / 2696
26 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

27 / 2696
28 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

29 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

30 / 2696
31 / 2696
32 / 2696
33 / 2696
34 / 2696
35 / 2696
36 / 2696
37 / 2696
38 / 2696
39 / 2696
40 / 2696
41 / 2696
42 / 2696
43 / 2696
44 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

45 / 2696
46 / 2696
47 / 2696
48 / 2696
49 / 2696
50 / 2696
51 / 2696
52 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

53 / 2696
54 / 2696
55 / 2696
56 / 2696
57 / 2696
58 / 2696
59 / 2696
60 / 2696
61 / 2696
62 / 2696
63 / 2696
64 / 2696
65 / 2696
66 / 2696
67 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

68 / 2696
69 / 2696
70 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

71 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

72 / 2696
73 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

74 / 2696
75 / 2696
76 / 2696
77 / 2696
78 / 2696
79 / 2696
80 / 2696
81 / 2696
82 / 2696
83 / 2696
84 / 2696
85 / 2696
86 / 2696
87 / 2696
88 / 2696
89 / 2696
90 / 2696
91 / 2696
92 / 2696
93 / 2696
94 / 2696
95 / 2696
96 / 2696
97 / 2696
98 / 2696
99 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

100 / 2696
101 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

102 / 2696
103 / 2696
104 / 2696
105 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

106 / 2696
107 / 2696
108 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

109 / 2696
110 / 2696
111 / 2696
112 / 2696
113 / 2696
114 / 2696
115 / 2696
116 / 2696
117 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

118 / 2696
119 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

120 / 2696
121 / 2696
122 / 2696
123 / 2696
124 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

125 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

126 / 2696
127 / 2696
128 / 2696
129 / 2696
130 / 2696
131 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

132 / 2696
133 / 2696
134 / 2696
135 / 2696
136 / 2696
137 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

138 / 2696
139 / 2696
140 / 2696
141 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

142 / 2696
143 / 2696
144 / 2696
145 / 2696
146 / 2696
147 / 2696
148 / 2696
149 / 2696
150 / 2696
151 / 2696
152 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

153 / 2696
154 / 2696
155 / 2696
156 / 2696
157 / 2696
158 / 2696
159 / 2696
160 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

161 / 2696
162 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

163 / 2696
164 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

165 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

166 / 2696
167 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

168 / 2696
169 / 2696
170 / 2696
171 / 2696
172 / 2696
173 / 2696
174 / 2696
175 / 2696
176 / 2696
177 / 2696
178 / 2696
179 / 2696
180 / 2696
181 / 2696
182 / 2696
183 / 2696
184 / 2696
185 / 2696
186 / 2696
187 / 2696
188 / 2696
189 / 2696
190 / 2696
191 / 2696
192 / 2696
193 / 2696
194 / 2696
195 / 2696
196 / 2696
197 / 2696
198 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

199 / 2696
200 / 2696
201 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

202 / 2696
203 / 2696
204 / 2696
205 / 2696
206 / 2696
207 / 2696
208 / 2696
209 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

210 / 2696
211 / 2696
212 / 2696
213 / 2696
214 / 2696
215 / 2696
216 / 2696
217 / 2696
218 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

219 / 2696
220 / 2696
221 / 2696
222 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

223 / 2696
224 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

225 / 2696
226 / 2696
227 / 2696
228 / 2696
229 / 2696
230 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

231 / 2696
232 / 2696
233 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

234 / 2696
235 / 2696
236 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

237 / 2696
238 / 2696
239 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

240 / 2696
241 / 2696
242 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

243 / 2696
244 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

245 / 2696
246 / 2696
247 / 2696
248 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

249 / 2696
250 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

251 / 2696
252 / 2696
253 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

254 / 2696
255 / 2696
256 / 2696
257 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

258 / 2696
259 / 2696
260 / 2696
261 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

262 / 2696
263 / 2696
264 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

265 / 2696
266 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

267 / 2696
268 / 2696
269 / 2696
270 / 2696
271 / 2696
272 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

273 / 2696
274 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

275 / 2696
276 / 2696
277 / 2696
278 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

279 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

280 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

281 / 2696
282 / 2696
283 / 2696
284 / 2696
285 / 2696
286 / 2696
287 / 2696
288 / 2696
289 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

290 / 2696
291 / 2696
292 / 2696
293 / 2696
294 / 2696
295 / 2696
296 / 2696
297 / 2696
298 / 2696
299 / 2696
300 / 2696
301 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

302 / 2696
303 / 2696
304 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

305 / 2696
306 / 2696
307 / 2696
308 / 2696
309 / 2696
310 / 2696
311 / 2696
312 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

313 / 2696
314 / 2696
315 / 2696
316 / 2696
317 / 2696
318 / 2696
319 / 2696
320 / 2696
321 / 2696
322 / 2696
323 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

324 / 2696
325 / 2696
326 / 2696
327 / 2696
328 / 2696
329 / 2696
330 / 2696
331 / 2696
332 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

333 / 2696
334 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

335 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

336 / 2696
337 / 2696
338 / 2696
339 / 2696
340 / 2696
341 / 2696
342 / 2696
343 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

344 / 2696
345 / 2696
346 / 2696
347 / 2696
348 / 2696
349 / 2696
350 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

351 / 2696
352 / 2696
353 / 2696
354 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

355 / 2696
356 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

357 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

358 / 2696
359 / 2696
360 / 2696
361 / 2696
362 / 2696
363 / 2696
364 / 2696
365 / 2696
366 / 2696
367 / 2696
368 / 2696
369 / 2696
370 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

371 / 2696
372 / 2696
373 / 2696
374 / 2696
375 / 2696
376 / 2696
377 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

378 / 2696
379 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

380 / 2696
381 / 2696
382 / 2696
383 / 2696
384 / 2696
385 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

386 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

387 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

388 / 2696
389 / 2696
390 / 2696
391 / 2696
392 / 2696
393 / 2696
394 / 2696
395 / 2696
396 / 2696
397 / 2696
398 / 2696
399 / 2696
400 / 2696
401 / 2696
402 / 2696
403 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

404 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

405 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

406 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

407 / 2696
408 / 2696
409 / 2696
410 / 2696
411 / 2696
412 / 2696
413 / 2696
414 / 2696
415 / 2696
416 / 2696
417 / 2696
418 / 2696
419 / 2696
420 / 2696
421 / 2696
422 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

423 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

424 / 2696
425 / 2696
426 / 2696
427 / 2696
428 / 2696
429 / 2696
430 / 2696
431 / 2696
432 / 2696
433 / 2696
434 / 2696
435 / 2696
436 / 2696
437 / 2696
438 / 2696
439 / 2696
440 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

441 / 2696
442 / 2696
443 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

444 / 2696
445 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

446 / 2696
447 / 2696
448 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

449 / 2696
450 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

451 / 2696
452 / 2696
453 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

454 / 2696
455 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

456 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

457 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

458 / 2696
459 / 2696
460 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

461 / 2696
462 / 2696
463 / 2696
464 / 2696
465 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

466 / 2696
467 / 2696
468 / 2696
469 / 2696
470 / 2696
471 / 2696
472 / 2696
473 / 2696
474 / 2696
475 / 2696
476 / 2696
477 / 2696
478 / 2696
479 / 2696
480 / 2696
481 / 2696
482 / 2696
483 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

484 / 2696
485 / 2696
486 / 2696
487 / 2696
488 / 2696
489 / 2696
490 / 2696
491 / 2696
492 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

493 / 2696
494 / 2696
495 / 2696
496 / 2696
497 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

498 / 2696
499 / 2696
500 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

501 / 2696
502 / 2696
503 / 2696
504 / 2696
505 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

506 / 2696
507 / 2696
508 / 2696
509 / 2696
510 / 2696
511 / 2696
512 / 2696
513 / 2696
514 / 2696
515 / 2696
516 / 2696
517 / 2696
518 / 2696
519 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

520 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

521 / 2696
522 / 2696
523 / 2696
524 / 2696
525 / 2696
526 / 2696
527 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

528 / 2696
529 / 2696
530 / 2696
531 / 2696
532 / 2696
533 / 2696
534 / 2696
535 / 2696
536 / 2696
537 / 2696
538 / 2696
539 / 2696
540 / 2696
541 / 2696
542 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

543 / 2696
544 / 2696
545 / 2696
546 / 2696
547 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

548 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

549 / 2696
550 / 2696
551 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

552 / 2696
553 / 2696
554 / 2696
555 / 2696
556 / 2696
557 / 2696
558 / 2696
559 / 2696
560 / 2696
561 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

562 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

563 / 2696
564 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

565 / 2696
566 / 2696
567 / 2696
568 / 2696
569 / 2696
570 / 2696
571 / 2696
572 / 2696
573 / 2696
574 / 2696
575 / 2696
576 / 2696
577 / 2696
578 / 2696
579 / 2696
580 / 2696
581 / 2696
582 / 2696
583 / 2696
584 / 2696
585 / 2696
586 / 2696
587 / 2696
588 / 2696
589 / 2696
590 / 2696
591 / 2696
592 / 2696
593 / 2696
594 / 2696
595 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

596 / 2696
597 / 2696
598 / 2696
599 / 2696
600 / 2696
601 / 2696
602 / 2696
603 / 2696
604 / 2696
605 / 2696
606 / 2696
607 / 2696
608 / 2696
609 / 2696
610 / 2696
611 / 2696
612 / 2696
613 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

614 / 2696
615 / 2696
616 / 2696
617 / 2696
618 / 2696
619 / 2696
620 / 2696
621 / 2696
622 / 2696
623 / 2696
624 / 2696
625 / 2696
626 / 2696
627 / 2696
628 / 2696
629 / 2696
630 / 2696
631 / 2696
632 / 2696
633 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

634 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

635 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

636 / 2696
637 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

638 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

639 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

640 / 2696
641 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

642 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

643 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

644 / 2696
645 / 2696
646 / 2696
647 / 2696
648 / 2696
649 / 2696
650 / 2696
651 / 2696
652 / 2696
653 / 2696
654 / 2696
655 / 2696
656 / 2696
657 / 2696
658 / 2696
659 / 2696
660 / 2696
661 / 2696
662 / 2696
663 / 2696
664 / 2696
665 / 2696
666 / 2696
667 / 2696
668 / 2696
669 / 2696
670 / 2696
671 / 2696
672 / 2696
673 / 2696
674 / 2696
675 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

676 / 2696
677 / 2696
678 / 2696
679 / 2696
680 / 2696
681 / 2696
682 / 2696
683 / 2696
684 / 2696
685 / 2696
686 / 2696
687 / 2696
688 / 2696
689 / 2696
690 / 2696
691 / 2696
692 / 2696
693 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

694 / 2696
695 / 2696
696 / 2696
697 / 2696
698 / 2696
699 / 2696
700 / 2696
701 / 2696
702 / 2696
703 / 2696
704 / 2696
705 / 2696
706 / 2696
707 / 2696
708 / 2696
709 / 2696
710 / 2696
711 / 2696
712 / 2696
713 / 2696
714 / 2696
715 / 2696
716 / 2696
717 / 2696
718 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

719 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

720 / 2696
721 / 2696
722 / 2696
723 / 2696
724 / 2696
725 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

726 / 2696
727 / 2696
728 / 2696
729 / 2696
730 / 2696
731 / 2696
732 / 2696
733 / 2696
734 / 2696
735 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

736 / 2696
737 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

738 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

739 / 2696
740 / 2696
741 / 2696
742 / 2696
743 / 2696
744 / 2696
745 / 2696
746 / 2696
747 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

748 / 2696
749 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

750 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

751 / 2696
752 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

753 / 2696
754 / 2696
755 / 2696
756 / 2696
757 / 2696
758 / 2696
759 / 2696
760 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

761 / 2696
762 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

763 / 2696
764 / 2696
765 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

766 / 2696
767 / 2696
768 / 2696
769 / 2696
770 / 2696
771 / 2696
772 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

773 / 2696
774 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

775 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

776 / 2696
777 / 2696
778 / 2696
779 / 2696
780 / 2696
781 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

782 / 2696
783 / 2696
784 / 2696
785 / 2696
786 / 2696
787 / 2696
788 / 2696
789 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

790 / 2696
791 / 2696
792 / 2696
793 / 2696
794 / 2696
795 / 2696
796 / 2696
797 / 2696
798 / 2696
799 / 2696
800 / 2696
801 / 2696
802 / 2696
803 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

804 / 2696
805 / 2696
806 / 2696
807 / 2696
808 / 2696
809 / 2696
810 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

811 / 2696
812 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

813 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

814 / 2696
815 / 2696
816 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

817 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

818 / 2696
819 / 2696
820 / 2696
821 / 2696
822 / 2696
823 / 2696
824 / 2696
825 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

826 / 2696
827 / 2696
828 / 2696
829 / 2696
830 / 2696
831 / 2696
832 / 2696
833 / 2696
834 / 2696
835 / 2696
836 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

837 / 2696
838 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

839 / 2696
840 / 2696
841 / 2696
842 / 2696
843 / 2696
844 / 2696
845 / 2696
846 / 2696
847 / 2696
848 / 2696
849 / 2696
850 / 2696
851 / 2696
852 / 2696
853 / 2696
854 / 2696
855 / 2696
856 / 2696
857 / 2696
858 / 2696
859 / 2696
860 / 2696
861 / 2696
862 / 2696
863 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

864 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

865 / 2696
866 / 2696
867 / 2696
868 / 2696
869 / 2696
870 / 2696
871 / 2696
872 / 2696
873 / 2696
874 / 2696
875 / 2696
876 / 2696
877 / 2696
878 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

879 / 2696
880 / 2696
881 / 2696
882 / 2696
883 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

884 / 2696
885 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

886 / 2696
887 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

888 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

889 / 2696
890 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

891 / 2696
892 / 2696
893 / 2696
894 / 2696
895 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

896 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

897 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

898 / 2696
899 / 2696
900 / 2696
901 / 2696
902 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

903 / 2696
904 / 2696
905 / 2696
906 / 2696
907 / 2696
908 / 2696
909 / 2696
910 / 2696
911 / 2696
912 / 2696
913 / 2696
914 / 2696
915 / 2696
916 / 2696
917 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

918 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

919 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

920 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

921 / 2696
922 / 2696
923 / 2696
924 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

925 / 2696
926 / 2696
927 / 2696
928 / 2696
929 / 2696
930 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

931 / 2696
932 / 2696
933 / 2696
934 / 2696
935 / 2696
936 / 2696
937 / 2696
938 / 2696
939 / 2696
940 / 2696
941 / 2696
942 / 2696
943 / 2696
944 / 2696
945 / 2696
946 / 2696
947 / 2696
948 / 2696
949 / 2696
950 / 2696
951 / 2696
952 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

953 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

954 / 2696
955 / 2696
956 / 2696
957 / 2696
958 / 2696
959 / 2696
960 / 2696
961 / 2696
962 / 2696
963 / 2696
964 / 2696
965 / 2696
966 / 2696
967 / 2696
968 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

969 / 2696
970 / 2696
971 / 2696
972 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

973 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

974 / 2696
975 / 2696
976 / 2696
977 / 2696
978 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

979 / 2696
980 / 2696
981 / 2696
982 / 2696
983 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

984 / 2696
985 / 2696
986 / 2696
987 / 2696
988 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

989 / 2696
990 / 2696
991 / 2696
992 / 2696
993 / 2696
994 / 2696
995 / 2696
996 / 2696
997 / 2696
998 / 2696
999 / 2696
1000 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1001 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1002 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1003 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1004 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1005 / 2696
1006 / 2696
1007 / 2696
1008 / 2696
1009 / 2696
1010 / 2696
1011 / 2696
1012 / 2696
1013 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1014 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1015 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1016 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1017 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1018 / 2696
1019 / 2696
1020 / 2696
1021 / 2696
1022 / 2696
1023 / 2696
1024 / 2696
1025 / 2696
1026 / 2696
1027 / 2696
1028 / 2696
1029 / 2696
1030 / 2696
1031 / 2696
1032 / 2696
1033 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1034 / 2696
1035 / 2696
1036 / 2696
1037 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1038 / 2696
1039 / 2696
1040 / 2696
1041 / 2696
1042 / 2696
1043 / 2696
1044 / 2696
1045 / 2696
1046 / 2696
1047 / 2696
1048 / 2696
1049 / 2696
1050 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1051 / 2696
1052 / 2696
1053 / 2696
1054 / 2696
1055 / 2696
1056 / 2696
1057 / 2696
1058 / 2696
1059 / 2696
1060 / 2696
1061 / 2696
1062 / 2696
1063 / 2696
1064 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1065 / 2696
1066 / 2696
1067 / 2696
1068 / 2696
1069 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1070 / 2696
1071 / 2696
1072 / 2696
1073 / 2696
1074 / 2696
1075 / 2696
1076 / 2696
1077 / 2696
1078 / 2696
1079 / 2696
1080 / 2696
1081 / 2696
1082 / 2696
1083 / 2696
1084 / 2696
1085 / 2696
1086 / 2696
1087 / 2696
1088 / 2696
1089 / 2696
1090 / 2696
1091 / 2696
1092 / 2696
1093 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1094 / 2696
1095 / 2696
1096 / 2696
1097 / 2696
1098 / 2696
1099 / 2696
1100 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1101 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1102 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1103 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1104 / 2696
1105 / 2696
1106 / 2696
1107 / 2696
1108 / 2696
1109 / 2696
1110 / 2696
1111 / 2696
1112 / 2696
1113 / 2696
1114 / 2696
1115 / 2696
1116 / 2696
1117 / 2696
1118 / 2696
1119 / 2696
1120 / 2696
1121 / 2696
1122 / 2696
1123 / 2696
1124 / 2696
1125 / 2696
1126 / 2696
1127 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1128 / 2696
1129 / 2696
1130 / 2696
1131 / 2696
1132 / 2696
1133 / 2696
1134 / 2696
1135 / 2696
1136 / 2696
1137 / 2696
1138 / 2696
1139 / 2696
1140 / 2696
1141 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1142 / 2696
1143 / 2696
1144 / 2696
1145 / 2696
1146 / 2696
1147 / 2696
1148 / 2696
1149 / 2696
1150 / 2696
1151 / 2696
1152 / 2696
1153 / 2696
1154 / 2696
1155 / 2696
1156 / 2696
1157 / 2696
1158 / 2696
1159 / 2696
1160 / 2696
1161 / 2696
1162 / 2696
1163 / 2696
1164 / 2696
1165 / 2696
1166 / 2696
1167 / 2696
1168 / 2696
1169 / 2696
1170 / 2696
1171 / 2696
1172 / 2696
1173 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1174 / 2696
1175 / 2696
1176 / 2696
1177 / 2696
1178 / 2696
1179 / 2696
1180 / 2696
1181 / 2696
1182 / 2696
1183 / 2696
1184 / 2696
1185 / 2696
1186 / 2696
1187 / 2696
1188 / 2696
1189 / 2696
1190 / 2696
1191 / 2696
1192 / 2696
1193 / 2696
1194 / 2696
1195 / 2696
1196 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1197 / 2696
1198 / 2696
1199 / 2696
1200 / 2696
1201 / 2696
1202 / 2696
1203 / 2696
1204 / 2696
1205 / 2696
1206 / 2696
1207 / 2696
1208 / 2696
1209 / 2696
1210 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1211 / 2696
1212 / 2696
1213 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1214 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1215 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1216 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1217 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1218 / 2696
1219 / 2696
1220 / 2696
1221 / 2696
1222 / 2696
1223 / 2696
1224 / 2696
1225 / 2696
1226 / 2696
1227 / 2696
1228 / 2696
1229 / 2696
1230 / 2696
1231 / 2696
1232 / 2696
1233 / 2696
1234 / 2696
1235 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1236 / 2696
1237 / 2696
1238 / 2696
1239 / 2696
1240 / 2696
1241 / 2696
1242 / 2696
1243 / 2696
1244 / 2696
1245 / 2696
1246 / 2696
1247 / 2696
1248 / 2696
1249 / 2696
1250 / 2696
1251 / 2696
1252 / 2696
1253 / 2696
1254 / 2696
1255 / 2696
1256 / 2696
1257 / 2696
1258 / 2696
1259 / 2696
1260 / 2696
1261 / 2696
1262 / 2696
1263 / 2696
1264 / 2696
1265 / 2696
1266 / 2696
1267 / 2696
1268 / 2696
1269 / 2696
1270 / 2696
1271 / 2696
1272 / 2696
1273 / 2696
1274 / 2696
1275 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1276 / 2696
1277 / 2696
1278 / 2696
1279 / 2696
1280 / 2696
1281 / 2696
1282 / 2696
1283 / 2696
1284 / 2696
1285 / 2696
1286 / 2696
1287 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1288 / 2696
1289 / 2696
1290 / 2696
1291 / 2696
1292 / 2696
1293 / 2696
1294 / 2696
1295 / 2696
1296 / 2696
1297 / 2696
1298 / 2696
1299 / 2696
1300 / 2696
1301 / 2696
1302 / 2696
1303 / 2696
1304 / 2696
1305 / 2696
1306 / 2696
1307 / 2696
1308 / 2696
1309 / 2696
1310 / 2696
1311 / 2696
1312 / 2696
1313 / 2696
1314 / 2696
1315 / 2696
1316 / 2696
1317 / 2696
1318 / 2696
1319 / 2696
1320 / 2696
1321 / 2696
1322 / 2696
1323 / 2696
1324 / 2696
1325 / 2696
1326 / 2696
1327 / 2696
1328 / 2696
1329 / 2696
1330 / 2696
1331 / 2696
1332 / 2696
1333 / 2696
1334 / 2696
1335 / 2696
1336 / 2696
1337 / 2696
1338 / 2696
1339 / 2696
1340 / 2696
1341 / 2696
1342 / 2696
1343 / 2696
1344 / 2696
1345 / 2696
1346 / 2696
1347 / 2696
1348 / 2696
1349 / 2696
1350 / 2696
1351 / 2696
1352 / 2696
1353 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1354 / 2696
1355 / 2696
1356 / 2696
1357 / 2696
1358 / 2696
1359 / 2696
1360 / 2696
1361 / 2696
1362 / 2696
1363 / 2696
1364 / 2696
1365 / 2696
1366 / 2696
1367 / 2696
1368 / 2696
1369 / 2696
1370 / 2696
1371 / 2696
1372 / 2696
1373 / 2696
1374 / 2696
1375 / 2696
1376 / 2696
1377 / 2696
1378 / 2696
1379 / 2696
1380 / 2696
1381 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1382 / 2696
1383 / 2696
1384 / 2696
1385 / 2696
1386 / 2696
1387 / 2696
1388 / 2696
1389 / 2696
1390 / 2696
1391 / 2696
1392 / 2696
1393 / 2696
1394 / 2696
1395 / 2696
1396 / 2696
1397 / 2696
1398 / 2696
1399 / 2696
1400 / 2696
1401 / 2696
1402 / 2696
1403 / 2696
1404 / 2696
1405 / 2696
1406 / 2696
1407 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1408 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1409 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1410 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1411 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1412 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1413 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1414 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1415 / 2696
1416 / 2696
1417 / 2696
1418 / 2696
1419 / 2696
1420 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1421 / 2696
1422 / 2696
1423 / 2696
1424 / 2696
1425 / 2696
1426 / 2696
1427 / 2696
1428 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1429 / 2696
1430 / 2696
1431 / 2696
1432 / 2696
1433 / 2696
1434 / 2696
1435 / 2696
1436 / 2696
1437 / 2696
1438 / 2696
1439 / 2696
1440 / 2696
1441 / 2696
1442 / 2696
1443 / 2696
1444 / 2696
1445 / 2696
1446 / 2696
1447 / 2696
1448 / 2696
1449 / 2696
1450 / 2696
1451 / 2696
1452 / 2696
1453 / 2696
1454 / 2696
1455 / 2696
1456 / 2696
1457 / 2696
1458 / 2696
1459 / 2696
1460 / 2696
1461 / 2696
1462 / 2696
1463 / 2696
1464 / 2696
1465 / 2696
1466 / 2696
1467 / 2696
1468 / 2696
1469 / 2696
1470 / 2696
1471 / 2696
1472 / 2696
1473 / 2696
1474 / 2696
1475 / 2696
1476 / 2696
1477 / 2696
1478 / 2696
1479 / 2696
1480 / 2696
1481 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1482 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1483 / 2696
1484 / 2696
1485 / 2696
1486 / 2696
1487 / 2696
1488 / 2696
1489 / 2696
1490 / 2696
1491 / 2696
1492 / 2696
1493 / 2696
1494 / 2696
1495 / 2696
1496 / 2696
1497 / 2696
1498 / 2696
1499 / 2696
1500 / 2696
1501 / 2696
1502 / 2696
1503 / 2696
1504 / 2696
1505 / 2696
1506 / 2696
1507 / 2696
1508 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1509 / 2696
1510 / 2696
1511 / 2696
1512 / 2696
1513 / 2696
1514 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1515 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1516 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1517 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1518 / 2696
1519 / 2696
1520 / 2696
1521 / 2696
1522 / 2696
1523 / 2696
1524 / 2696
1525 / 2696
1526 / 2696
1527 / 2696
1528 / 2696
1529 / 2696
1530 / 2696
1531 / 2696
1532 / 2696
1533 / 2696
1534 / 2696
1535 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1536 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1537 / 2696
1538 / 2696
1539 / 2696
1540 / 2696
1541 / 2696
1542 / 2696
1543 / 2696
1544 / 2696
1545 / 2696
1546 / 2696
1547 / 2696
1548 / 2696
1549 / 2696
1550 / 2696
1551 / 2696
1552 / 2696
1553 / 2696
1554 / 2696
1555 / 2696
1556 / 2696
1557 / 2696
1558 / 2696
1559 / 2696
1560 / 2696
1561 / 2696
1562 / 2696
1563 / 2696
1564 / 2696
1565 / 2696
1566 / 2696
1567 / 2696
1568 / 2696
1569 / 2696
1570 / 2696
1571 / 2696
1572 / 2696
1573 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1574 / 2696
1575 / 2696
1576 / 2696
1577 / 2696
1578 / 2696
1579 / 2696
1580 / 2696
1581 / 2696
1582 / 2696
1583 / 2696
1584 / 2696
1585 / 2696
1586 / 2696
1587 / 2696
1588 / 2696
1589 / 2696
1590 / 2696
1591 / 2696
1592 / 2696
1593 / 2696
1594 / 2696
1595 / 2696
1596 / 2696
1597 / 2696
1598 / 2696
1599 / 2696
1600 / 2696
1601 / 2696
1602 / 2696
1603 / 2696
1604 / 2696
1605 / 2696
1606 / 2696
1607 / 2696
1608 / 2696
1609 / 2696
1610 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1611 / 2696
1612 / 2696
1613 / 2696
1614 / 2696
1615 / 2696
1616 / 2696
1617 / 2696
1618 / 2696
1619 / 2696
1620 / 2696
1621 / 2696
1622 / 2696
1623 / 2696
1624 / 2696
1625 / 2696
1626 / 2696
1627 / 2696
1628 / 2696
1629 / 2696
1630 / 2696
1631 / 2696
1632 / 2696
1633 / 2696
1634 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1635 / 2696
1636 / 2696
1637 / 2696
1638 / 2696
1639 / 2696
1640 / 2696
1641 / 2696
1642 / 2696
1643 / 2696
1644 / 2696
1645 / 2696
1646 / 2696
1647 / 2696
1648 / 2696
1649 / 2696
1650 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1651 / 2696
1652 / 2696
1653 / 2696
1654 / 2696
1655 / 2696
1656 / 2696
1657 / 2696
1658 / 2696
1659 / 2696
1660 / 2696
1661 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1662 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1663 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1664 / 2696
1665 / 2696
1666 / 2696
1667 / 2696
1668 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1669 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1670 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1671 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1672 / 2696
1673 / 2696
1674 / 2696
1675 / 2696
1676 / 2696
1677 / 2696
1678 / 2696
1679 / 2696
1680 / 2696
1681 / 2696
1682 / 2696
1683 / 2696
1684 / 2696
1685 / 2696
1686 / 2696
1687 / 2696
1688 / 2696
1689 / 2696
1690 / 2696
1691 / 2696
1692 / 2696
1693 / 2696
1694 / 2696
1695 / 2696
1696 / 2696
1697 / 2696
1698 / 2696
1699 / 2696
1700 / 2696
1701 / 2696
1702 / 2696
1703 / 2696
1704 / 2696
1705 / 2696
1706 / 2696
1707 / 2696
1708 / 2696
1709 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1710 / 2696
1711 / 2696
1712 / 2696
1713 / 2696
1714 / 2696
1715 / 2696
1716 / 2696
1717 / 2696
1718 / 2696
1719 / 2696
1720 / 2696
1721 / 2696
1722 / 2696
1723 / 2696
1724 / 2696
1725 / 2696
1726 / 2696
1727 / 2696
1728 / 2696
1729 / 2696
1730 / 2696
1731 / 2696
1732 / 2696
1733 / 2696
1734 / 2696
1735 / 2696
1736 / 2696
1737 / 2696
1738 / 2696
1739 / 2696
1740 / 2696
1741 / 2696
1742 / 2696
1743 / 2696
1744 / 2696
1745 / 2696
1746 / 2696
1747 / 2696
1748 / 2696
1749 / 2696
1750 / 2696
1751 / 2696
1752 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1753 / 2696
1754 / 2696
1755 / 2696
1756 / 2696
1757 / 2696
1758 / 2696
1759 / 2696
1760 / 2696
1761 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1762 / 2696
1763 / 2696
1764 / 2696
1765 / 2696
1766 / 2696
1767 / 2696
1768 / 2696
1769 / 2696
1770 / 2696
1771 / 2696
1772 / 2696
1773 / 2696
1774 / 2696
1775 / 2696
1776 / 2696
1777 / 2696
1778 / 2696
1779 / 2696
1780 / 2696
1781 / 2696
1782 / 2696
1783 / 2696
1784 / 2696
1785 / 2696
1786 / 2696
1787 / 2696
1788 / 2696
1789 / 2696
1790 / 2696
1791 / 2696
1792 / 2696
1793 / 2696
1794 / 2696
1795 / 2696
1796 / 2696
1797 / 2696
1798 / 2696
1799 / 2696
1800 / 2696
1801 / 2696
1802 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1803 / 2696
1804 / 2696
1805 / 2696
1806 / 2696
1807 / 2696
1808 / 2696
1809 / 2696
1810 / 2696
1811 / 2696
1812 / 2696
1813 / 2696
1814 / 2696
1815 / 2696
1816 / 2696
1817 / 2696
1818 / 2696
1819 / 2696
1820 / 2696
1821 / 2696
1822 / 2696
1823 / 2696
1824 / 2696
1825 / 2696
1826 / 2696
1827 / 2696
1828 / 2696
1829 / 2696
1830 / 2696
1831 / 2696
1832 / 2696
1833 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1834 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1835 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1836 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1837 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1838 / 2696
1839 / 2696
1840 / 2696
1841 / 2696
1842 / 2696
1843 / 2696
1844 / 2696
1845 / 2696
1846 / 2696
1847 / 2696
1848 / 2696
1849 / 2696
1850 / 2696
1851 / 2696
1852 / 2696
1853 / 2696
1854 / 2696
1855 / 2696
1856 / 2696
1857 / 2696
1858 / 2696
1859 / 2696
1860 / 2696
1861 / 2696
1862 / 2696
1863 / 2696
1864 / 2696
1865 / 2696
1866 / 2696
1867 / 2696
1868 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1869 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1870 / 2696
1871 / 2696
1872 / 2696
1873 / 2696
1874 / 2696
1875 / 2696
1876 / 2696
1877 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1878 / 2696
1879 / 2696
1880 / 2696
1881 / 2696
1882 / 2696
1883 / 2696
1884 / 2696
1885 / 2696
1886 / 2696
1887 / 2696
1888 / 2696
1889 / 2696
1890 / 2696
1891 / 2696
1892 / 2696
1893 / 2696
1894 / 2696
1895 / 2696
1896 / 2696
1897 / 2696
1898 / 2696
1899 / 2696
1900 / 2696
1901 / 2696
1902 / 2696
1903 / 2696
1904 / 2696
1905 / 2696
1906 / 2696
1907 / 2696
1908 / 2696
1909 / 2696
1910 / 2696
1911 / 2696
1912 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1913 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1914 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1915 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1916 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1917 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1918 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1919 / 2696
1920 / 2696
1921 / 2696
1922 / 2696
1923 / 2696
1924 / 2696
1925 / 2696
1926 / 2696
1927 / 2696
1928 / 2696
1929 / 2696
1930 / 2696
1931 / 2696
1932 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1933 / 2696
1934 / 2696
1935 / 2696
1936 / 2696
1937 / 2696
1938 / 2696
1939 / 2696
1940 / 2696
1941 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1942 / 2696
1943 / 2696
1944 / 2696
1945 / 2696
1946 / 2696
1947 / 2696
1948 / 2696
1949 / 2696
1950 / 2696
1951 / 2696
1952 / 2696
1953 / 2696
1954 / 2696
1955 / 2696
1956 / 2696
1957 / 2696
1958 / 2696
1959 / 2696
1960 / 2696
1961 / 2696
1962 / 2696
1963 / 2696
1964 / 2696
1965 / 2696
1966 / 2696
1967 / 2696
1968 / 2696
1969 / 2696
1970 / 2696
1971 / 2696
1972 / 2696
1973 / 2696
1974 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

1975 / 2696
1976 / 2696
1977 / 2696
1978 / 2696
1979 / 2696
1980 / 2696
1981 / 2696
1982 / 2696
1983 / 2696
1984 / 2696
1985 / 2696
1986 / 2696
1987 / 2696
1988 / 2696
1989 / 2696
1990 / 2696
1991 / 2696
1992 / 2696
1993 / 2696
1994 / 2696
1995 / 2696
1996 / 2696
1997 / 2696
1998 / 2696
1999 / 2696
2000 / 2696
2001 / 2696
2002 / 2696
2003 / 2696
2004 / 2696
2005 / 2696
2006 / 2696
2007 / 2696
2008 / 2696
2009 / 2696
2010 / 2696
2011 / 2696
2012 / 2696
2013 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2014 / 2696
2015 / 2696
2016 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2017 / 2696
2018 / 2696
2019 / 2696
2020 / 2696
2021 / 2696
2022 / 2696
2023 / 2696
2024 / 2696
2025 / 2696
2026 / 2696
2027 / 2696
2028 / 2696
2029 / 2696
2030 / 2696
2031 / 2696
2032 / 2696
2033 / 2696
2034 / 2696
2035 / 2696
2036 / 2696
2037 / 2696
2038 / 2696
2039 / 2696
2040 / 2696
2041 / 2696
2042 / 2696
2043 / 2696
2044 / 2696
2045 / 2696
2046 / 2696
2047 / 2696
2048 / 2696
2049 / 2696
2050 / 2696
2051 / 2696
2052 / 2696
2053 / 2696
2054 / 2696
2055 / 2696
2056 / 2696
2057 / 2696
2058 / 2696
2059 / 2696
2060 / 2696
2061 / 2696
2062 / 2696
2063 / 2696
2064 / 2696
2065 / 2696
2066 / 2696
2067 / 2696
2068 / 2696
2069 / 2696
2070 / 2696
2071 / 2696
2072 / 2696
2073 / 2696
2074 / 2696
2075 / 2696
2076 / 2696
2077 / 2696
2078 / 2696
2079 / 2696
2080 / 2696
2081 / 2696
2082 / 2696
2083 / 2696
2084 / 2696
2085 / 2696
2086 / 2696
2087 / 2696
2088 / 2696
2089 / 2696
2090 / 2696
2091 / 2696
2092 / 2696
2093 / 2696
2094 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2095 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2096 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2097 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2098 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2099 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2100 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2101 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2102 / 2696
2103 / 2696
2104 / 2696
2105 / 2696
2106 / 2696
2107 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2108 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2109 / 2696
2110 / 2696
2111 / 2696
2112 / 2696
2113 / 2696
2114 / 2696
2115 / 2696
2116 / 2696
2117 / 2696
2118 / 2696
2119 / 2696
2120 / 2696
2121 / 2696
2122 / 2696
2123 / 2696
2124 / 2696
2125 / 2696
2126 / 2696
2127 / 2696
2128 / 2696
2129 / 2696
2130 / 2696
2131 / 2696
2132 / 2696
2133 / 2696
2134 / 2696
2135 / 2696
2136 / 2696
2137 / 2696
2138 / 2696
2139 / 2696
2140 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2141 / 2696
2142 / 2696
2143 / 2696
2144 / 2696
2145 / 2696
2146 / 2696
2147 / 2696
2148 / 2696
2149 / 2696
2150 / 2696
2151 / 2696
2152 / 2696
2153 / 2696
2154 / 2696
2155 / 2696
2156 / 2696
2157 / 2696
2158 / 2696
2159 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2160 / 2696
2161 / 2696
2162 / 2696
2163 / 2696
2164 / 2696
2165 / 2696
2166 / 2696
2167 / 2696
2168 / 2696
2169 / 2696
2170 / 2696
2171 / 2696
2172 / 2696
2173 / 2696
2174 / 2696
2175 / 2696
2176 / 2696
2177 / 2696
2178 / 2696
2179 / 2696
2180 / 2696
2181 / 2696
2182 / 2696
2183 / 2696
2184 / 2696
2185 / 2696
2186 / 2696
2187 / 2696
2188 / 2696
2189 / 2696
2190 / 2696
2191 / 2696
2192 / 2696
2193 / 2696
2194 / 2696
2195 / 2696
2196 / 2696
2197 / 2696
2198 / 2696
2199 / 2696
2200 / 2696
2201 / 2696
2202 / 2696
2203 / 2696
2204 / 2696
2205 / 2696
2206 / 2696
2207 / 2696
2208 / 2696
2209 / 2696
2210 / 2696
2211 / 2696
2212 / 2696
2213 / 2696
2214 / 2696
2215 / 2696
2216 / 2696
2217 / 2696
2218 / 2696
2219 / 2696
2220 / 2696
2221 / 2696
2222 / 2696
2223 / 2696
2224 / 2696
2225 / 2696
2226 / 2696
2227 / 2696
2228 / 2696
2229 / 2696
2230 / 2696
2231 / 2696
2232 / 2696
2233 / 2696
2234 / 2696
2235 / 2696
2236 / 2696
2237 / 2696
2238 / 2696
2239 / 2696
2240 / 2696
2241 / 2696
2242 / 2696
2243 / 2696
2244 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2245 / 2696
2246 / 2696
2247 / 2696
2248 / 2696
2249 / 2696
2250 / 2696
2251 / 2696
2252 / 2696
2253 / 2696
2254 / 2696
2255 / 2696
2256 / 2696
2257 / 2696
2258 / 2696
2259 / 2696
2260 / 2696
2261 / 2696
2262 / 2696
2263 / 2696
2264 / 2696
2265 / 2696
2266 / 2696
2267 / 2696
2268 / 2696
2269 / 2696
2270 / 2696
2271 / 2696
2272 / 2696
2273 / 2696
2274 / 2696
2275 / 2696
2276 / 2696
2277 / 2696
2278 / 2696
2279 / 2696
2280 / 2696
2281 / 2696
2282 / 2696
2283 / 2696
2284 / 2696
2285 / 2696
2286 / 2696
2287 / 2696
2288 / 2696
2289 / 2696
2290 / 2696
2291 / 2696
2292 / 2696
2293 / 2696
2294 / 2696
2295 / 2696
2296 / 2696
2297 / 2696
2298 / 2696
2299 / 2696
2300 / 2696
2301 / 2696
2302 / 2696
2303 / 2696
2304 / 2696
2305 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2306 / 2696
2307 / 2696
2308 / 2696
2309 / 2696
2310 / 2696
2311 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2312 / 2696
2313 / 2696
2314 / 2696
2315 / 2696
2316 / 2696
2317 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2318 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2319 / 2696
2320 / 2696
2321 / 2696
2322 / 2696
2323 / 2696
2324 / 2696
2325 / 2696
2326 / 2696
2327 / 2696
2328 / 2696
2329 / 2696
2330 / 2696
2331 / 2696
2332 / 2696
2333 / 2696
2334 / 2696
2335 / 2696
2336 / 2696
2337 / 2696
2338 / 2696
2339 / 2696
2340 / 2696
2341 / 2696
2342 / 2696
2343 / 2696
2344 / 2696
2345 / 2696
2346 / 2696
2347 / 2696
2348 / 2696
2349 / 2696
2350 / 2696
2351 / 2696
2352 / 2696
2353 / 2696
2354 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2355 / 2696
2356 / 2696
2357 / 2696
2358 / 2696
2359 / 2696
2360 / 2696
2361 / 2696
2362 / 2696
2363 / 2696
2364 / 2696
2365 / 2696
2366 / 2696
2367 / 2696
2368 / 2696
2369 / 2696
2370 / 2696
2371 / 2696
2372 / 2696
2373 / 2696
2374 / 2696
2375 / 2696
2376 / 2696
2377 / 2696
2378 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2379 / 2696
2380 / 2696
2381 / 2696
2382 / 2696
2383 / 2696
2384 / 2696
2385 / 2696
2386 / 2696
2387 / 2696
2388 / 2696
2389 / 2696
2390 / 2696
2391 / 2696
2392 / 2696
2393 / 2696
2394 / 2696
2395 / 2696
2396 / 2696
2397 / 2696
2398 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2399 / 2696
2400 / 2696
2401 / 2696
2402 / 2696
2403 / 2696
2404 / 2696
2405 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2406 / 2696
2407 / 2696
2408 / 2696
2409 / 2696
2410 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2411 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2412 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2413 / 2696
2414 / 2696
2415 / 2696
2416 / 2696
2417 / 2696
2418 / 2696
2419 / 2696
2420 / 2696
2421 / 2696
2422 / 2696
2423 / 2696
2424 / 2696
2425 / 2696
2426 / 2696
2427 / 2696
2428 / 2696
2429 / 2696
2430 / 2696
2431 / 2696
2432 / 2696
2433 / 2696
2434 / 2696
2435 / 2696
2436 / 2696
2437 / 2696
2438 / 2696
2439 / 2696
2440 / 2696
2441 / 2696
2442 / 2696
2443 / 2696
2444 / 2696
2445 / 2696
2446 / 2696
2447 / 2696
2448 / 2696
2449 / 2696
2450 / 2696
2451 / 2696
2452 / 2696
2453 / 2696
2454 / 2696
2455 / 2696
2456 / 2696
2457 / 2696
2458 / 2696
2459 / 2696
2460 / 2696
2461 / 2696
2462 / 2696
2463 / 2696
2464 / 2696
2465 / 2696
2466 / 2696
2467 / 2696
2468 / 2696
2469 / 2696
2470 / 2696
2471 / 2696
2472 / 2696
2473 / 2696
2474 / 2696
2475 / 2696
2476 / 2696
2477 / 2696
2478 / 2696
2479 / 2696
2480 / 2696
2481 / 2696
2482 / 2696
2483 / 2696
2484 / 2696
2485 / 2696
2486 / 2696
2487 / 2696
2488 / 2696
2489 / 2696
2490 / 2696
2491 / 2696
2492 / 2696
2493 / 2696
2494 / 2696
2495 / 2696
2496 / 2696
2497 / 2696
2498 / 2696
2499 / 2696
2500 / 2696
2501 / 2696
2502 / 2696
2503 / 2696
2504 / 2696
2505 / 2696
2506 / 2696
2507 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2508 / 2696
2509 / 2696
2510 / 2696
2511 / 2696
2512 / 2696
2513 / 2696
2514 / 2696
2515 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2516 / 2696
2517 / 2696
2518 / 2696
2519 / 2696
2520 / 2696
2521 / 2696
2522 / 2696
2523 / 2696
2524 / 2696
2525 / 2696
2526 / 2696
2527 / 2696
2528 / 2696
2529 / 2696
2530 / 2696
2531 / 2696
2532 / 2696
2533 / 2696
2534 / 2696
2535 / 2696
2536 / 2696
2537 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2538 / 2696
2539 / 2696
2540 / 2696
2541 / 2696
2542 / 2696
2543 / 2696
2544 / 2696
2545 / 2696
2546 / 2696
2547 / 2696
2548 / 2696
2549 / 2696
2550 / 2696
2551 / 2696
2552 / 2696
2553 / 2696
2554 / 2696
2555 / 2696
2556 / 2696
2557 / 2696
2558 / 2696
2559 / 2696
2560 / 2696
2561 / 2696
2562 / 2696
2563 / 2696
2564 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2565 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2566 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2567 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2568 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2569 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2570 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2571 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2572 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2573 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2574 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2575 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2576 / 2696
2577 / 2696
2578 / 2696
2579 / 2696
2580 / 2696
2581 / 2696
2582 / 2696
2583 / 2696
2584 / 2696
2585 / 2696
2586 / 2696
2587 / 2696
2588 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2589 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2590 / 2696
2591 / 2696
2592 / 2696
2593 / 2696
2594 / 2696
2595 / 2696
2596 / 2696
2597 / 2696
2598 / 2696
2599 / 2696
2600 / 2696
2601 / 2696
2602 / 2696
2603 / 2696
2604 / 2696
2605 / 2696
2606 / 2696
2607 / 2696
2608 / 2696
2609 / 2696
2610 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2611 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2612 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2613 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2614 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2615 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2616 / 2696
2617 / 2696
2618 / 2696
2619 / 2696
2620 / 2696
2621 / 2696
2622 / 2696
2623 / 2696
2624 / 2696
2625 / 2696
2626 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2627 / 2696
2628 / 2696
2629 / 2696
2630 / 2696
2631 / 2696
2632 / 2696
2633 / 2696
2634 / 2696
2635 / 2696
2636 / 2696
2637 / 2696
2638 / 2696
2639 / 2696
2640 / 2696
2641 / 2696
2642 / 2696
2643 / 2696
2644 / 2696
2645 / 2696
2646 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2647 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2648 / 2696
2649 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2650 / 2696

C:\Users\myhyu\AppData\Local\Temp\ipykernel_11084\1729452186.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  finance_table = pd.concat([finance_table, temp_arranged])

2651 / 2696
2652 / 2696
2653 / 2696
2654 / 2696
2655 / 2696
2656 / 2696
2657 / 2696
2658 / 2696
2659 / 2696
2660 / 2696
2661 / 2696
2662 / 2696
2663 / 2696
2664 / 2696
2665 / 2696
2666 / 2696
2667 / 2696
2668 / 2696
2669 / 2696
2670 / 2696
2671 / 2696
2672 / 2696
2673 / 2696
2674 / 2696
2675 / 2696
2676 / 2696
2677 / 2696
2678 / 2696
2679 / 2696
2680 / 2696
2681 / 2696
2682 / 2696
2683 / 2696
2684 / 2696
2685 / 2696
2686 / 2696
2687 / 2696
2688 / 2696
2689 / 2696
2690 / 2696
2691 / 2696
2692 / 2696
2693 / 2696
2694 / 2696
2695 / 2696
2696 / 2696

In [7]:
finance_table.info()
# 결측치 300개

<class 'pandas.core.frame.DataFrame'>
Index: 2696 entries, 095570 to 238490
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (기업코드, 0)       2696 non-null   object
 1   (EV, 0)         2400 non-null   object
 2   (EBITDA, 0)     2401 non-null   object
 3   (EV/EBITDA, 0)  2379 non-null   float64
dtypes: float64(1), object(3)
memory usage: 105.3+ KB

In [11]:
finance_table.columns

MultiIndex([(     '기업코드', 0),
            (       'EV', 0),
            (   'EBITDA', 0),
            ('EV/EBITDA', 0)],
           )

In [16]:
finance_table.columns = ['기업코드','EV','EBITDA','EV/EBITDA']
finance_table

          기업코드     EV EBITDA   EV/EBITDA
095570  095570  11528    615   18.744715
006840  006840  27192   1606   16.931507
027410  027410   6049    185   32.697297
282330  282330  20343   1597   12.738259
138930  138930   <NA>   <NA>         NaN
...        ...    ...    ...         ...
024060  024060   1572     -2 -786.000000
010240  010240    690     40   17.250000
189980  189980   1725     37   46.621622
037440  037440    947     32   29.593750
238490  238490    710     31   22.903226

[2696 rows x 4 columns]

In [18]:
# 재무제표 저장
finance_table.to_csv('ev_ebitda_table.csv', index=False, encoding='cp949')