In [3]:
import pandas as pd
import numpy as np

import os
os.chdir('C:/Users/myhyu/OneDrive/Desktop/2024 미래에셋/')

In [4]:
df = pd.read_csv('뉴스데이터_최종_0727.csv')
df.head()

,news_title,news_url,news_contents,news_dates,cleaned_news_contents,summary,keys,keywords
0,줍줍까지 나왔는데 웃돈만 10억…'얼죽신' 열풍에 입주권 귀하신 몸,https://n.news.naver.com/mnews/article/057/000...,[\n\t\t\t【 앵커멘트 】 '얼죽신'이라는 신조어가 있습니다. 얼어죽어도 ...,2024-07-26 20:06:12,【 앵커멘트 】 '얼죽신'이라는 신조어가 있습니다. 얼어죽어도 신축이라는 새 아파...,뉴스 풀이: \n문장1. 새 아파트 선호현상을 가리키는 '얼죽신'이라는 신조어가 생...,id:3c507951-a8c5-4c0a-ad1e-783df8d03c6e\nevent...,"[삼성전자, SK하이닉스, LG화학, 카카오뱅크, 크래프톤, 엔씨소프트, 넷마블, ..."
1,‘AI 반도체’ 리벨리온 IPO 주관사에 대표 삼성·공동 한투 선정,https://n.news.naver.com/mnews/article/366/000...,[\n기업가치 5조~7조원 인공지능(AI) 반도체 스타트업 리벨리온이 ...,2024-07-26 17:46:14,기업가치 5조~7조원 인공지능(AI) 반도체 스타트업 리벨리온이 기업공개(IPO)...,뉴스 풀이: \n인공지능(AI) 반도체 스타트업인 리벨리온이 기업공개(IPO)를 위...,id:0b405e0a-ed6f-4162-a19f-c7fcc57e09b5\nevent...,"[삼성증권, 한국투자증권]"
2,서울 세운5-1·3구역 대출 연장 성공…규모 1000억 확대,https://n.news.naver.com/mnews/article/018/000...,[\n대출 2800억 조기 상환…신규 대출 3800억 확대SPC 투모로우세운·에이에...,2024-07-26 19:48:07,대출 2800억 조기 상환…신규 대출 3800억 확대SPC 투모로우세운·에이에이엠...,뉴스 풀이: \n서울 중구 세운 5-1·3구역 도시정비형 재개발 사업장 관련 대출이...,id:e4e96ebd-53fd-4779-808f-d4c0c01982e9\nevent...,"[현대차증권, 신한투자증권, 한화투자증권]"
3,"배임까지… 두산밥캣, 6거래일째 하락 이어 시간外 약세",https://n.news.naver.com/mnews/article/366/000...,[\n\n\n\n\n두산밥캣의 스티어-스키드 로더. /두산밥캣 두산그룹...,2024-07-26 17:21:13,두산밥캣의 스티어-스키드 로더. /두산밥캣 두산그룹 지배구조 개편 여파로 두산밥캣...,두산밥캣 주가가 6일 연속 하락했습니다. 두산밥캣의 자회사인 두산밥캣코리아의 전·현...,id:cf3279ad-3002-4df8-aa1c-a78d15e86efb\nevent...,[두산밥캣]
4,상승 출발 엔비디아 vs 하락 출발 테슬라 …과연 누가 웃을까?,https://n.news.naver.com/mnews/article/029/000...,[\n뉴욕증시 3대 지수 상승출발엔비디아 2%대 상승테슬라는 낙폭 줄여빅테크주 각자...,2024-07-26 22:56:07,뉴욕증시 3대 지수 상승출발엔비디아 2%대 상승테슬라는 낙폭 줄여빅테크주 각자도생...,뉴스 풀이 : \n미국 뉴욕 증시의 3대 지수가 상승하고 있습니다. 이는 미국의 6...,id:73b0c3f1-718b-4731-932c-d1352c41af88\nevent...,"[메타,마이크로소프트,아마존,엔비디아,알파벳,테슬라,애플]"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   news_title             908 non-null    object
 1   news_url               908 non-null    object
 2   news_contents          908 non-null    object
 3   news_dates             908 non-null    object
 4   cleaned_news_contents  908 non-null    object
 5   summary                908 non-null    object
 6   keys                   908 non-null    object
 7   keywords               908 non-null    object
dtypes: object(8)
memory usage: 56.9+ KB

In [6]:
# list로 변환

# 문자열에서 '[', ']', 공백, 따옴표를 제거하고 쉼표로 분할하여 리스트로 변환
def parse_keywords(keywords):
    # 문자열에서 '[', ']' 및 공백을 제거
    keywords = keywords.strip('[]').replace("'", "").replace(' ', '')
    # 쉼표로 분할하여 리스트로 변환
    return keywords.split(',')

# 데이터프레임의 'keywords' 열에 적용
df['keywords'] = df['keywords'].apply(parse_keywords)
df['keywords'][0][0]

'삼성전자'

In [7]:
df.keywords

0      [삼성전자, SK하이닉스, LG화학, 카카오뱅크, 크래프톤, 엔씨소프트, 넷마블, ...
1                                         [삼성증권, 한국투자증권]
2                                [현대차증권, 신한투자증권, 한화투자증권]
3                                                 [두산밥캣]
4                 [메타, 마이크로소프트, 아마존, 엔비디아, 알파벳, 테슬라, 애플]
                             ...
903                                       [한국은행, 호주중앙은행]
904    [SK하이닉스, 현대차, 기아, 삼성바이오로직스, LG이노텍, LG에너지솔루션, L...
905                                             [미래에셋증권]
906                                [삼성전자, SK하이닉스, 한미반도체]
907    [삼성증권, NH투자증권, KB증권, 신한금융투자, 키움증권, 대신증권, 하나금융투...
Name: keywords, Length: 908, dtype: object

In [8]:
# 모든 키워드를 중복 없이 집합으로 통합
all_keywords = set(keyword for sublist in df['keywords'] for keyword in sublist)

# 각 키워드가 속한 인덱스를 저장할 딕셔너리
keyword_indices = {keyword: [] for keyword in all_keywords}

# 각 키워드에 대해 해당 인덱스를 저장
for idx, keywords in df['keywords'].items():
    for keyword in keywords:
        keyword_indices[keyword].append(idx)

# 결과를 데이터프레임으로 변환
result_df = pd.DataFrame(list(keyword_indices.items()), columns=['keyword', 'index_set'])
result_df

                keyword                                          index_set
0                                      [169, 189, 250, 427, 427, 585, 722]
1                  한양증권  [72, 192, 302, 348, 427, 435, 624, 627, 641, 8...
2                  빅테크주                                              [668]
3                 쌍용씨앤이                                               [39]
4     HD현대인프라코어(042670)                                              [423]
...                 ...                                                ...
1176            이녹스첨단소재                               [169, 189, 453, 834]
1177             오상헬스케어                                              [502]
1178               AT&T                                    [191, 196, 731]
1179                 파월                                         [264, 715]
1180               삼성카드                                              [490]

[1181 rows x 2 columns]

In [9]:
df_type = pd.read_csv('InvestmentPropensity/종목분류지표_최종.csv', encoding='cp949')
df_type

        기업코드     기업명 수익성 효율성 퀄리티 변동성 종목분류지표
0      95570  AJ네트웍스   p   e   q   V   peqV
1       6840   AK홀딩스   p   e   q   V   peqV
2      27410     BGF   p   e   Q   V   peQV
3     282330  BGF리테일   P   E   q   V   PEqV
4       1460     BYC   p   e   Q   V   peQV
...      ...     ...  ..  ..  ..  ..    ...
2156   24060    흥구석유   P   e   Q   v   PeQv
2157   10240      흥국   p   e   Q   V   peQV
2158  189980  흥국에프엔비   p   e   Q   V   peQV
2159   37440      희림   p   e   q   V   peqV
2160  238490      힘스   p   e   Q   V   peQV

[2161 rows x 7 columns]

In [10]:
# 데이터프레임 병합
merged_df = pd.merge(df_type, result_df, left_on='기업명', right_on='keyword', how='left')
merged_df = merged_df.drop(columns=['keyword'])
merged_df.dropna(inplace=True)
merged_df

,기업코드,기업명,수익성,효율성,퀄리티,변동성,종목분류지표,index_set
3,282330,BGF리테일,P,E,q,V,PEqV,"[94, 181, 350, 384]"
8,97950,CJ제일제당,p,e,q,V,peqV,"[94, 267, 345, 351, 708, 796]"
11,12030,DB,p,e,q,V,peqV,[8]
14,210,DL,p,e,q,V,peqV,[698]
15,375500,DL이앤씨,P,e,q,V,PeqV,"[19, 427, 577, 807]"
...,...,...,...,...,...,...,...,...
2139,61250,화일약품,P,e,Q,V,PeQV,"[49, 219, 305, 311, 312, 337, 361, 514, 793, 7..."
2144,90710,휴림로봇,P,E,Q,v,PEQv,[510]
2146,205470,휴마시스,P,e,Q,v,PeQv,[502]
2155,145020,휴젤,p,E,Q,V,pEQV,"[64, 128, 169, 311, 337, 793, 799]"
2159,37440,희림,p,e,q,V,peqV,"[219, 798]"

In [11]:
import random
# 뉴스가 여러개 존재할 경우 랜덤으로 하나만 select
def get_random_element(lst):
    return str(random.choice(lst)) if lst else ''

merged_df['index_num'] = merged_df['index_set'].apply(get_random_element)
merged_df

,기업코드,기업명,수익성,효율성,퀄리티,변동성,종목분류지표,index_set,index_num
3,282330,BGF리테일,P,E,q,V,PEqV,"[94, 181, 350, 384]",181
8,97950,CJ제일제당,p,e,q,V,peqV,"[94, 267, 345, 351, 708, 796]",94
11,12030,DB,p,e,q,V,peqV,[8],8
14,210,DL,p,e,q,V,peqV,[698],698
15,375500,DL이앤씨,P,e,q,V,PeqV,"[19, 427, 577, 807]",807
...,...,...,...,...,...,...,...,...,...
2139,61250,화일약품,P,e,Q,V,PeQV,"[49, 219, 305, 311, 312, 337, 361, 514, 793, 7...",514
2144,90710,휴림로봇,P,E,Q,v,PEQv,[510],510
2146,205470,휴마시스,P,e,Q,v,PeQv,[502],502
2155,145020,휴젤,p,E,Q,V,pEQV,"[64, 128, 169, 311, 337, 793, 799]",128
2159,37440,희림,p,e,q,V,peqV,"[219, 798]",219

In [12]:
merged_df['news_date'] = np.nan

for index, row in merged_df.iterrows():
    # index_num의 첫 번째 요소를 가져옵니다 (여기서는 하나의 요소만 있습니다)
    idx_str = row['index_num']
    
    # 문자열을 정수로 변환
    try:
        idx = int(idx_str)
        
        # df에서 해당 인덱스의 news_dates를 가져옵니다
        if 0 <= idx < len(df):
            merged_df.at[index, 'news_date'] = df.loc[idx, 'news_dates']
            merged_df.at[index, 'news_summary'] = df.loc[idx, 'summary']
    except ValueError:
        # index_num이 정수로 변환할 수 없는 경우
        merged_df.at[index, 'news_date'] = np.nan
        merged_df.at[index, 'news_summary'] = np.nan
merged_df

C:\Users\myhyu\AppData\Local\Temp\ipykernel_33408\4168941821.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2024-07-25 15:21:13' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.at[index, 'news_date'] = df.loc[idx, 'news_dates']

,기업코드,기업명,수익성,효율성,퀄리티,변동성,종목분류지표,index_set,index_num,news_date,news_summary
3,282330,BGF리테일,P,E,q,V,PEqV,"[94, 181, 350, 384]",181,2024-07-25 15:21:13,"뉴스 풀이: \n2024년 파리 올림픽이 곧 개막하지만, 올림픽 수혜주로 예상되는 ..."
8,97950,CJ제일제당,p,e,q,V,peqV,"[94, 267, 345, 351, 708, 796]",94,2024-07-26 08:00:21,"뉴스 풀이 : \n미국 대선이 다가오는 가운데, 공화당 대선 후보인 도널드 트럼프 ..."
11,12030,DB,p,e,q,V,peqV,[8],8,2024-07-26 18:44:30,"뉴스 풀이: \n퇴직연금은 DB(Defined Benefit, 확정 급여형), DC..."
14,210,DL,p,e,q,V,peqV,[698],698,2024-07-22 09:00:10,뉴스 풀이:\nDL그룹 본사 사옥 인수전에 농협과 행정공제회가 참여하고 있습니다. ...
15,375500,DL이앤씨,P,e,q,V,PeqV,"[19, 427, 577, 807]",807,2024-07-25 06:05:00,뉴스 풀이: \n건설주들이 부진한 흐름을 벗어나 반등하기 시작했습니다. 미국의 금리...
...,...,...,...,...,...,...,...,...,...,...,...
2139,61250,화일약품,P,e,Q,V,PeQV,"[49, 219, 305, 311, 312, 337, 361, 514, 793, 7...",514,2024-07-23 10:13:53,뉴스 풀이 : \n미국 대통령 바이든의 유력한 대체 후보로 지목되는 카멀라 해리스 ...
2144,90710,휴림로봇,P,E,Q,v,PEQv,[510],510,2024-07-23 10:51:48,뉴스 풀이: \n산업용 로봇을 만드는 회사인 휴림로봇이 돈을 더 모으기 위해 유상증...
2146,205470,휴마시스,P,e,Q,v,PeQv,[502],502,2024-07-23 11:59:23,"뉴스 풀이: \n최근 미국, 일본 등에서 코로나19 변이 kp.3가 확산되면서, 코..."
2155,145020,휴젤,p,E,Q,V,pEQV,"[64, 128, 169, 311, 337, 793, 799]",128,2024-07-25 18:25:09,뉴스 풀이 : \n최근 엔화와 달러의 가치가 상승하면서 원화의 가치가 하락하고 있습...
2159,37440,희림,p,e,q,V,peqV,"[219, 798]",219,2024-07-25 10:13:11,뉴스 풀이 : \n최근 미국 증시가 주춤하자 국내 증시에서는 미국 대선 후보들과 관...

In [13]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388 entries, 3 to 2159
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기업코드          388 non-null    int64
 1   기업명           388 non-null    object
 2   수익성           388 non-null    object
 3   효율성           388 non-null    object
 4   퀄리티           388 non-null    object
 5   변동성           388 non-null    object
 6   종목분류지표        388 non-null    object
 7   index_set     388 non-null    object
 8   index_num     388 non-null    object
 9   news_date     388 non-null    object
 10  news_summary  388 non-null    object
dtypes: int64(1), object(10)
memory usage: 44.5+ KB

In [21]:
merged_df.to_csv('종목별_투자성향_뉴스해설.csv', encoding='cp949') #튜닝 학습 csv 3단계에 사용

In [22]:
df2 = merged_df.groupby('종목분류지표')[['기업코드','기업명']].agg({'기업코드': list, '기업명': list}).reset_index()
df2 #튜닝 학습 csv 2단계에 사용
df2.to_csv('투자성향별_종목.csv', encoding='cp949')